<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure>
        <a href="/Documents/VOLTTRON_Efficient_Grid_2017.pdf"  style = "float:left; margin-right: 15px; color:black">
            <img src='{{ absURL "images/overviewOverlay.png" }}' style = "height: 200px; width: 150px; margin-right: 15px;" > 
            <figcaption class = "caption">VOLTTRON™ Overview</figcaption>
        </a>
    </figure>
    <figure2>
        <a href="/Documents/VOLTTRON_Brochure_V11_WEB.pdf" style = "float:left; color:black" >
            <img src="/images/DocumentImages/BrochureOverlay.jpg" style = "height: 200px; width: 150px"> 
            <figcaption class="caption">VOLTTRON™ Platform</figcaption>
        </a> 
    </figure2>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
    <h3>Recent Videos</h3>
   

    <ul class="links">
        <b>VOLTTRON™ Overview and Cybersecurity</b>
        <li><a href="https://www.youtube.com/watch?v=oNnItsBlwxs&list=TLGGyXeqGoXzaj0wNTA2MjAyNA" style= "color:black"> </li>
            <img src="/images/VideoImages/CybersecurityVideoImage.jpg" style = "height: 150px; width: 250px; margin-left: 20px">
            <div class = "caption" style="margin-bottom: 20px;">VOLTTRON™ developers Bora Akyol and Jereme Haack provide an overview of VOLTTRON™ and cybersecurity features.</div> 
        </a>
       

        <b style = "margin-left: 60px;">Transactive Energy</b>
        <li><a href="https://www.youtube.com/watch?v=ECTNZAgyYtM&list=TLGGfFoOMb64MxowNjA2MjAyNA&t=2s"  style= "color:black"></li>
            <img src="/images/VideoImages/TransactiveVideoImage.jpg" style = "height: 150px; width: 250px; margin-left: 20px">
            <div class = "caption" style="margin-bottom: 20px;">An overview of Transactive Energy and its application to the power grid, buildings and renewables</div> 
        </a>
        
        <b style = "margin-left: 40px;">Intelligent Load Control</b>
        <li><a href="https://www.youtube.com/watch?v=jUjcVTMaZc4&list=TLGGfCU8IgTf3XgwNjA2MjAyNA"  style= "color:black"></li>
            <img src="/images/VideoImages/LoadControlVideoImage.jpg" style = "height: 150px; width: 250px; margin-left: 20px">
            <div class = "caption">The ILC technology makes it possible for buildings to manage energy consumption to a desired target, providing improved energy efficiency, renewables integration, and grid services.</div> 
        </a>
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>
