<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure>
        <a href="/Documents/VOLTTRON_Efficient_Grid_2017.pdf"  style = "  color:black">
            <img src="/images/overviewOverlay.png" style = "height: 250px; width: 200px; margin-right: 15px;" > 
            <figcaption class = "caption">VOLTTRON™ Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

    <figure2>
        <a href="/Documents/VOLTTRON_Buildings_2017.pdf" style = " color:black" >
            <img src="/images/DocumentImages/BuildingspdfImage.png" style = "height: 250px; width: 200px"> 
            <figcaption class="caption">VOLTTRON™ Buildings</figcaption>
        </a> 

    </figure2>
    <p>&nbsp;</p>

    <figure2>
        <a href="/Documents/VOLTTRON_security_2017.pdf" style = " color:black" >
            <img src="/images/MarketsImages/SecureTool.png" style = "height: 250px; width: 200px"> 
            <figcaption class="caption">VOLTTRON™ Secure Tool</figcaption>
        </a> 
    </figure2>
    <p>&nbsp;</p>
    <figure2>
        <a href="/Documents/VOLTTRON_Tech_To_Market.pdf" style = " color:black" >
            <img src="/images/MarketsImages/TechToMarketImage.png" style = "height: 250px; width: 200px"> 
            <figcaption class="caption">VOLTTRON™ Tech To Market</figcaption>
        </a> 
    </figure2>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>