<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Tutorial Videos</h3>
    <p>Check out the latest Tutorial Videos below, or visit the 
    <a href = "#" >
        Videos Archive
    </a>
    to view previous recordings.</p>

    <ul class="links">
        <b>VOLTTRON™ platform Installation</b>
        <li ><a href="https://www.youtube.com/watch?v=UrRQ5LNF2xU&t=1s" style= "color:black;"> </li>
            <img src="images/VideoImages/PlatformInstallationVidCover.jpg.crdownload" style = "height: 150px; width: 250px; ">
            <div class = "caption" style = "margin-bottom: 20px"> getting started with the platform from downloading the code to running a simple instance. If you’re new to VOLTTRON, this is a good place to start.</div> 
        </a>
        

        <b style = "margin-left: 60px;">BACnet Tutorial</b>
        <li><a href="https://www.youtube.com/watch?v=qQNL2n936AU&list=TLGGuiwbIjL1LVYxNDA2MjAyNA"  style= "color:black"></li>
            <img src="images/VideoImages/BACnet.jpg.crdownload" style = "height: 150px; width: 250px;">
            <div class = "caption" style = "margin-bottom: 20px">how to utilize the BACnet driver in VOLTTRON to communicate with devices for data collection and control.</div> 
        </a>
       
        <b style = "margin-left: 40px;">VOLTTRON™ Tutorial</b>
        <li><a href="https://www.youtube.com/watch?v=0zHG1p76GNs&list=TLGG8TyZC8fiYxMxNDA2MjAyNA"  style= "color:black"></li>
            <img src="images/VideoImages/tutorialInstall.jpg" style = "height: 150px; width: 250px; ">
            <div class = "caption">overview of getting started with the platform.</div> 
        </a>
    </ul>
    <footer>
        

    </figure2>
        
    </footer>
</section>
<section>
   
    <h3></h3>
   

    <ul class="links">
        <h3>Office Hours</h3>
        <p>Check out the latest Office Hours below, or visit the 
        <a href = "#" >
            Office Hours
        </a>
        to view previous recordings.</p>
    
        <ul class="links">
            <b>Office Hours- January 5th, 2024</b>
            <li ><a href="https://www.youtube.com/watch?v=sV7tXz53LVE&list=TLGGAUACxCrhMjoxNzA2MjAyNA" style= "color:black;"> </li>
                <img src="/images/VideoImages/officeHours-Jan10.jpg" style = "height: 150px; width: 250px; ">
                <div class = "caption" style = "margin-bottom: 20px">Ben Bartling of Slipstream talking about BACPypes3’s features and his use of its scripting capabilities. </div> 
            </a>
            
    
            <b >Office Hours- November 10th, 2023</b>
            <li><a href="https://www.youtube.com/watch?v=DqOuq50AjAI&list=TLGGB5HeUhn2LCwxNzA2MjAyNA"  style= "color:black"></li>
                <img src="/images/VideoImages/officeHours-Nov10.jpg" style = "height: 150px; width: 250px;">
                <div class = "caption" style = "margin-bottom: 20px">demonstration of the 2030.5 agent as well as a discussion of the upcoming VOLTTRON 9.0 release.</div> 
            </a>
           
            <b >Office Hours- October 27th, 2023</b>
            <li><a href="https://www.youtube.com/watch?v=P2-T4iomrkQ&list=TLGGxyx1BwejocUxNzA2MjAyNA"  style= "color:black"></li>
                <img src="/images/VideoImages/officeHours-Oct27.jpg" style = "height: 150px; width: 250px; ">
                <div class = "caption">demonstration of a Home Assistant driver for sharing data between this home automation system and the VOLTTRON platform.</div> 
            </a>
        </ul>
        <footer>


    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>