<section>
    <h3>{{ T "sidebar_heading_1" }}</h3>

    <h3>Related Materials</h3>
    <footer>
        
        <figure>
        <a href="/Documents/VOLTTRON_buildings_2017.pdf"  style = "  color:black">
            <img src="/images/DocumentImages/BuildingspdfImage.png" style = "height: 250px; width: 200px; margin-right: 15px;" > 
            <figcaption class = "caption">VOLTTRON™ Buildings</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>
      
    <figure>
        <a href="/Documents/VOLTTRON_Brochure_V11_WEB.pdf"  style = "  color:black">
            <img src="/images/DocumentImages/overviewOverlay.png" style = "height: 250px; width: 200px; margin-right: 15px;" > 
            <figcaption class = "caption">VOLTTRON™ Overview</figcaption>
        </a>
    </figure>
    <p>&nbsp;</p>

    <figure>
        <a href="/Documents/VOLTTRON_gridservices_2017.pdf"  style = "  color:black">
            <img src="/images/DocumentImages/GridImage.png" style = "height: 250px; width: 200px; margin-right: 15px;" > 
            <figcaption class = "caption">VOLTTRON™ Grid Services</figcaption>
        </a>
    </figure>
        
    </footer>
</section>
<section>
    <p>&nbsp;</p>
   
   

    <ul class="links">
        
    </ul>
    <footer>
        <a href="#" class="button">{{ T "sidebar_button_2" }}</a>
    </footer>
</section>