<section>
    <h3>The Buzz</h3>
    <p><b>"</b>Instead of using a commercial occupancy sensor, we built a driver in VOLTTRON™ to connect a $2 motion sensor. We estimate our low-cost VOLTTRON™ 
        solution can save 20% on energy and make building occupants much more comfortable.<b>"</b>
        <br>
        <b>-Lourdes Gutierrez
            <br>Rochester Institute of Technology
        </b>
        <br> __________________________________
    </p>
    <p>
        <b>"</b>VOLTTRON™ is an elegant and robust system for developing lightweight, deployable solutions for the Building Energy field.<b>"</b>
        <br>
        <b>-Tyrone Kirk Shillingford
            <br> City University of New


        </b>
       


   


    <footer>
        <a href="#" class="button">{{ T "sidebar_button_1" }}</a>
    </footer>
</section>